# ***Assignment-2***

## **Data Types and Structures Questions**

### 1. What are data structures, and why are they important?

Data Structure are ways of storing data such that it can be accessed and modified (if mutable)
They are important because they help in handling and processing of data with less complexity.

### 2. Explain the difference between mutable and immutable data types with examples.

Mutable data types are those data types which can be modified after creation, eg: list.
Immutable data types are those data types which cannot be modified once created, eg: tuple, string.

### 3. What are the main differences between lists and tuples in Python?

List is mutable whereas tuple is immutable.

### 4. Describe how dictionaries store data.

It stores data in Key Value Pair, like in list or tuple the values are assigned based on the indices startig from 0, similarly in dictionary the inplace of indices the values are assigned to unique keys of the dictionary which is defined by us and written in the dictionary in format {key1:value1, key2:value2,...}.

### 5. Why might you use a set instead of a list in Python?

When I need to create a collection of data where I dont want any data or value to repeat I will use set instead of list.

### 6. What is a string in Python, and how is it different from a list?

A string is a sequence of characters written inside quoatations & it is immutable whereas a list is a collection of elements and it is mutable.

### 7. How do tuples ensure data integrity in Python?

Tuples being immutabe the data in it cannot be modifed once created and hence it ensure data integrity.

### 8. What is a hash table, and how does it relate to dictionaries in Python?

A hash table is a data structure that stores key–value pairs using a hashing function.
Python dictionaries are implemented using hash tables, enabling fast access to values.

### 9. Can lists contain different data types in Python?

Yes.

### 10. Explain why strings are immutable in Python.

To ensure that we can reuse the string again & again without modification.

### 11. What advantages do dictionaries offer over lists for certain tasks?

It allows easy extraction of data using keys unlike index number in list.

### 12. Describe a scenario where using a tuple would be preferable over a list.

Storing Roll number of students in a class.

### 13. How do sets handle duplicate values in Python?

Set automatically removes duplicate values and stores only unique values.

### 14. How does the “in” keyword work differently for lists and dictionaries?

In list 'in' checks the presence of a value/data whereas in dictionary it checks the Key, not its value.

### 15. Can you modify the elements of a tuple? Explain why or why not.

No, because tuples are immutable.

### 16. What is a nested dictionary, and give an example of its use case.

A nested dictionary is a dictionary that has another dictionary as one of its value, 
g: stu1 = {'name':'Krish', 'Roll': '04', 'marks':{'sem1':7.14, 'sem2':8.55, 'sem3':8.47}}.

### 17. Describe the time complexity of accessing elements in a dictionary.

O(1)

### 18. In what situations are lists preferred over dictionaries?

In situation where we have the data of same type, like If we wat to store names of various student in a sequence where we dont need any key value of each name list is preferred over dict.

### 19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Because data in dictionaries are stored based on hash values & not positions. It doesnot effect accessing data as we do it through keys.

### 20. Explain the difference between a list and a dictionary in terms of data retrieval.

In list data is retrived using index number whereas in dictionary it is done through key to which the value is assigned.

## **Practical Questions**

1. Write a code to create a string with your name and print it.

In [1]:
name = 'Krish Gupta'
name

'Krish Gupta'

2. Write a code to find the length of the string "Hello World".

In [3]:
s = "Hello World"
print(len(s))

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [4]:
s = "Python Programming"
s[:3]

'Pyt'

4. Write a code to convert the string "hello" to uppercase.

In [5]:
s = "hello"
s.upper()

'HELLO'

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

6. Write a code to create a list with numbers 1 to 5 and print it.

In [6]:
l = []
n = 5
for i in  range(1,n+1):
    l.append(i)
l

[1, 2, 3, 4, 5]

In [27]:
[x for x in range(1,6)]

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [8]:
l = [1, 2, 3, 4]
l.append(10)
l

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [10]:
l = [1, 2, 3, 4, 5]
l.remove(3)
l

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [11]:
l = ['a', 'b', 'c', 'd']
n = 2
l[n-1]

'b'

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [12]:
l = [10, 20, 30, 40, 50]
l[::-1]

[50, 40, 30, 20, 10]

In [16]:
l = [10, 20, 30, 40, 50]
lrev = []
for i in range(len(l),0,-1):
    lrev.append(l[i-1])
lrev

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [17]:
t = (100, 200, 300)
t

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [18]:
t = ('red', 'green', 'blue', 'yellow')
t[1:]

('green', 'blue', 'yellow')

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [21]:
t = (10, 20, 5, 15)
min(t)

5

In [22]:
t = (10, 20, 5, 15)
min = t[0]
for i in t:
    if i<min:
        min = i
print(min)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [24]:
t = ('dog', 'cat', 'rabbit')
t.index('cat')

1

In [25]:
t = ('dog', 'cat', 'rabbit')
k = 0
for i in t:
    if i == 'cat':
        print(k)
    else:
        k+= 1

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [26]:
t = ('apple', 'mango', 'amla')
x = 'kiwi'
if x in t:
    print(f'Yes {x} is present in the tuple')
else:
    print(f'No {x} is not present in the tuple')

No kiwi is not present in the tuple

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [29]:
s = {'a', 'b', 'c'}
s

{'a', 'b', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [31]:
s = {1, 2, 3, 4, 5}
print(s)
s.clear()
s

{1, 2, 3, 4, 5}

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [33]:
s = {1, 2, 3, 4}
s.remove(4)
s

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [34]:
s1 = {1,2,3}
s2 = {3,4,5}
s1.union(s2)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [35]:
s1 = {1,2,3}
s2 = {2,3,4}
s1.intersection(s2)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [38]:
d = {'name':'Krish', 'age':19, 'city':'Siliguri'}
d

{'name': 'Krish', 'age': 19, 'city': 'Siliguri'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [43]:
d = {'name': 'John', 'age': 25}
d["country"]= "USA"
d

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [44]:
d = {'name': 'Alice', 'age': 30}
d['name']

'Alice'

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [48]:
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop('age')
d

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [50]:
d = {'name': 'Alice', 'city': 'Paris'}
if 'city' in d:
    print('Yes it exists in the dictionary')
else:
    print('no it is not present')

Yes it exists in the dictionary

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [52]:
l = [1,2,3,4,5,6,7,8,9]
t = (1,2,3,4,5,6,7,8,9)
d = {'Name': 'Krish', 'Age': 19, 'City': 'Siliguri', 'College':'Salesian'}
l, t, d

([1, 2, 3, 4, 5, 6, 7, 8, 9],
 (1, 2, 3, 4, 5, 6, 7, 8, 9),
 {'Name': 'Krish', 'Age': 19, 'City': 'Siliguri', 'College': 'Salesian'})

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the 
result.(replaced)

In [54]:
import random as rm
num = rm.sample(range(1,101),5)
num.sort()
num

[4, 21, 50, 85, 100]

28. Write a code to create a list with strings and print the element at the third index

In [56]:
l = ['Krish', 'Rohit', 'Sonu', 'Utshav', 'Ayush', 'Abhishek']
n = 3
l[n-1]

'Sonu'

29. Write a code to combine two dictionaries into one and print the result.

In [58]:
info = {'Name': 'Krish', 'Age': 19, 'City': 'Siliguri', 'College':'Salesian'}
marks = {'sem1':7.1, 'sem2':8.4, 'sem3': 8.5, 'sem4': 8.0}
d = info|marks
d

{'Name': 'Krish',
 'Age': 19,
 'City': 'Siliguri',
 'College': 'Salesian',
 'sem1': 7.1,
 'sem2': 8.4,
 'sem3': 8.5,
 'sem4': 8.0}

30. Write a code to convert a list of strings into a set.

In [59]:
l = ['Krish', 'Rohit', 'Sonu', 'Utshav', 'Ayush', 'Abhishek']
s = set(l)
s

{'Abhishek', 'Ayush', 'Krish', 'Rohit', 'Sonu', 'Utshav'}